body{
    background: #B29271;
    font-family:'Gill Sans MT', 'Calibri', sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}
.assignment{
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#FFFFCC;
    border-radius:15px;
    box-shadow: 8px 10px #592316;
}

.assignment img{
    padding:10px;
    width:150px;
    height:150px;
    border-radius: 20px;
    display:block;
    margin:auto;
}

h1{
    color: #592316;
    text-align:center;
}

a{
    text-decoration: none;
    color: #592316;
}

.assignment a:hover {
    color:tan;
}

.assignment img:hover {
    box-shadow: 0 4px 16px 0 #592316;
}